.team-search {
  z-index: 3;
  margin-top: -10%;
  width: 80%;
  margin-left: 10%;
}

.profile-view-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: white;
  height: 35vh;
}

.team-search-box {
  border-radius: 5px;
}