.home-wrapper {
  z-index: 3;
  margin-top: -10%;
  width: 80%;
  margin-left: 10%;
}
.profile-view-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: white;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 5px;
  position: relative;
  padding: 8px 8px 32px 8px;
  background: white;
  height: 35vh;
}
.profile-view-wrapper:after{
  background: linear-gradient(-45deg, #F0EEFB 16px, transparent 0), linear-gradient(45deg, #F0EEFB 16px, transparent 0);
  background-position: left-bottom;
  background-repeat: repeat-x;
  background-size: 32px 32px;
  content: " ";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
}
.profile-user {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15%;
  padding-top: 15%;
}
.profile-user-name{
    color: #325ae8;
    font-size: medium;
    padding-bottom: 10%;
}
.profile-user-role {
  color: #A696EF; 
}
.profile-leave-wrapper{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 10%;
}
.profile-leave, .profile-wfh {
  border: 1px solid #e4e1f1;
  padding: 20px;
  background-color: #F2F0FB;
  color: #A696EF;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.profile-leave-data{
  margin-bottom: 5%;
}
.attendance-wrapper {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  padding: 5% 0 5% 0;
  margin-top: 5%;
  height: 12vh;
}
.attendance-select {
  width: 200px !important;
}